<table style="width:100%;" summary="Client form field">

	<tr>
		<td>Client Name</td>
		<td><%= text_field_tag :clientName, nil, :class => 'text ui-widget-content ui-corner-all loginValues', :id=>'clientName', :value => @client.clientName %></td>
	</tr>

	<tr>
		<td>Client Address</td>
		<td><%= text_field_tag :clientAddress, nil, :class => 'text ui-widget-content ui-corner-all loginValues', :id=>'clientAddress', :value => @client.clientAddress %></td>
	</tr>

	<tr>
		<td>Client Password</td>
		<td><%= password_field_tag :password, nil, :class => 'text ui-widget-content ui-corner-all loginValues', :id=>'password' %></td>
	</tr>


