<div class="ClientDelete">
<%= link_to('< Back', {:action => 'list'}, :class => 'formBackLink') %><br/>
	<link rel="stylesheet" type="text/css" href="/css/form.css" /> 

	<div class="module">
		<div class="moduleHeader">Delete client</div>
	<%= form_for(:client, :url => {:action => 'destroy', :id => @client.id}) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>
		</table>

		<%= submit_tag("Confirm delete client", :class => "formButton ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover") %>

	<% end %>
	</div>

</div>