div#infoPane{
	float:right; 
	width:76%;
	margin-left: 4%;
}
div.menuPane{
	float:left;
	width:18%;
	margin: 1%;
}
div#infoPane a#addItem{
	border:none;
	font-size: 12px;
	padding: 5px;
	margin-top: 15px;
}
div#infoPane a#addItem:hover{
	color: #a6d94c;
}
div#clientsMenu a#clientsButton,
div#clientSitesMenu a#clientSitesButton,
div#inspectionPointsMenu a#inspectionPointsButton,
div#testSourcesMenu a#testSourcesButton,
div#parametersMenu a#parametersButton,
div#contactsMenu a#contactsButton,
div#questionsMenu a#QuestionsButton
{
	color: #a6d94c;

}