<table summary="Client form field">
	<tr>
		<td>Parameter type</td>
		<td><%= f.text_field(:parameterType) %></td>
	</tr>

	<tr>
		<td>Unit measurement</td>
		<td><%= f.text_field(:unitMeasurement) %></td>
	</tr>

</table>	