<link rel="stylesheet" type="text/css" href="/css/table.css">
<link rel="stylesheet" type="text/css" href="/css/form.css">
<%= link_to('< Back', {:action => "list"}) %><br/>
	<div class="module">
		<div class="moduleHeader">Viewing a Parameter</div>
		<table>
			<tr>
				<td>Client Site Name</td>
				<td><%= @parameter.parameterType %>  </td>
			</tr>
			<tr>
				<td>Client Site Address</td>
				<td><%= @parameter.unitMeasurement %>  </td>
			</tr>
		</table>
	</div>

