<table summary="Client form field">
	<tr>
		<td>Cient Site Name</td>
		<td><%= f.text_field(:clientSiteName) %></td>
	</tr>

	<tr>
		<td>Client Site Address</td>
		<td><%= f.text_field(:clientSiteAddress) %></td>
	</tr>

	<tr>
		<td>Client Site latitude</td>
		<td><%= f.text_field(:clientSiteLocationLatitude) %></td>
	</tr>

	<tr>
		<td>Client Site longtitude</td>
		<td><%= f.text_field(:clientSiteLocationLongtitude) %></td>
	</tr>

</table>