<link rel="stylesheet" type="text/css" href="/css/table.css">
<link rel="stylesheet" type="text/css" href="/css/form.css">
<%= link_to('< Back', {:action => "list"}) %><br/>
	<div class="module">
		<div class="moduleHeader">Viewing a Question</div>
		<table>
			<tr>
				<td>Question description</td>
				<td><%= @question.questionDescription %> </td>
			</tr>
			<tr>
				<td>Test Source</td>
				<td><%= TestSource.where(['id = ?', @question.testSource_id]).uniq.pluck(:testSourceLocationDescription).join('')  %> </td>
			</tr>


		</table>
	</div>
