div#ControlPanelMenu.module span a{
	width: 200px;
	height: 30px;
	margin: 10px;
	border: none;
	vertical-align: middle;
	color: #009cdd;
	background: #000;
	background: #000 url(/css/custom-theme/images/ui-bg_glass_50_191815_1x400.png) 50% 50% repeat-x;
	padding-top: 5px;
}
div#ControlPanelMenu.module span a:hover{
	color: #a6d94c;
}
div#ControlPanelMenu.module h3{
	text-align: center;
	margin-top: 10px;
}