/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body
{
	background-image: url(/assets/bg.gif);
	background-repeat: repeat-x;
	background-color: #2a2a2a;

	font-family: sergoe-ui, helvetica, ariel;
	color: white;

}

#wrapper
{

	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

#header
{

}

#main
{
	background-color: #181818;
	box-shadow: 5px 5px 15px #000000;

	border-radius: 15px;
	min-height: 500px;

}

#footer
{
	color: #8dc141;
	padding-top: 30px;
	padding-bottom: 20px;
	font-size: 12px;
}
.module
{
	background-image: url(/assets/module-gradient.gif);
	background-repeat: repeat-x;
	background-color: #0a0a0a;

	border-radius: 10px;
	box-shadow: 5px 5px 15px #050505;

	float: left;
}
.module .moduleHeader
{
	padding-top: 10px;
	text-align: center;
	margin-bottom: 10px;
}

.module .moduleBody
{
	padding: 10px;
	font-size: 12px;

}
div#main
{
	border: 2px solid #202020;
}

.ui-button-text
{
	font-size: 12px;
	float: right;
}

fieldset
{

	padding: 15px;
}
#ensightLogo
{
	padding-top: 10px;
	padding-bottom: 15px;
}
.ui-dialog-titlebar-close {
  visibility: hidden;
}

#theSubmitButton:hover
{
	color:#75ca34;
}

#logout:hover
{
	color:#75ca34;
}

form#loginForm fieldset
{
	border: none;
}
div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable.ui-dialog-buttons
{
	position: fixed;
}